<footer class="footer bg-footer text-white py-5">
  <div class="container">
    <div class="row gx-4">
      <div class="col-md-6">
        <h5 class="mb-3">Información de contacto</h5>
        <ul class="list-unstyled">
          <li>Dirección: Chiclayo, 1050</li>
          <li>Teléfono: 074 233 555</li>
          <li>Correo electrónico: ruizasociados&#64;gmail.com</li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5 class="mb-3">Redes sociales</h5>
        <ul class="list-unstyled">
          <div class="contact-social">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        </ul>
      </div>

      <div class="col-md-3 text-end">
        <a class="img-logo" href="#">
          <img src="img/logo.png" alt="Logo de la empresa" style="width: 150px; height: 150px;">
        </a>
      </div>


    </div>
    <div class="row gx-4">
      <div class="col-md-12 text-left">
        <p class="mb-0">&copy; 2024 Sistemas. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>