<div class="jumbotron jumbotron-fluid bg-white text-black">
    <div class="container p-5">
      <h1 class="display-4">Ruiz & Asociados</h1>
      <p class="lead text-justify">Somos un despacho jurídico comprometido con la excelencia y la protección de los derechos e intereses de nuestros clientes. Contamos con un equipo de abogados altamente capacitados y con una vasta experiencia en diversas áreas del derecho, lo que nos permite ofrecer soluciones legales integrales y personalizadas para cada caso.</p>
      <hr class="my-4">
      <img src="img/portada.jpeg" alt="[Texto alternativo]" class="img-fluid">
      <p>¡Somos tu mejor aliado, confía en nosotros!</p>
      <p><a class="btn btn-secondary btn-success" href="/nosotros" role="button">Conoce más</a></p>
    </div>
  </div>
